
# Supabase
SUPABASE_URL=https://ldgrwlnoqamgdplbjwpf.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxkZ3J3bG5vcWFtZ2RwbGJqd3BmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2OTIxNTgsImV4cCI6MjA5NTI2ODE1OH0.aXj5DKNq0AY_sXfCUC29D6q1JUsXFewVy4izxxYLBoo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxkZ3J3bG5vcWFtZ2RwbGJqd3BmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTY5MjE1OCwiZXhwIjoyMDk1MjY4MTU4fQ.NwJcVAKhWbcP5x0XYLXM_xmxqEzFTHDHoroCOUeDCvE

# Auth
GITHUB_CLIENT_ID=Ov23liFbCMrz1vt9otpn
GITHUB_CLIENT_SECRET=73c4e4cec9dc4fb460335335ed1711421d71c739
TWITCH_CLIENT_ID=ioxlhezwb6tifgpcnqwjgtrovgapyl
TWITCH_CLIENT_SECRET=dpiw323s4jpszdjf2rltue6meee5kh
JWT_SECRET=YB6jENBJL9ASq4cb/1m9ShOE54Gs5tA2bi+QT6YdLgVAC7AEVhwiu9y+DbHd0H5diiMzq6IRmI/LjJNqXxufwA==

# API
API_URL=http://localhost:5000
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,https://cybereden.com
